@page "/DataTypesOne"

<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
        <h3>DataTypesOne</h3> <br />

        <p>Write a C# program that takes three letters as input and display them in reverse order.</p> <br />
        <strong>Test Data:</strong><br />
        Enter letter b:<br />
        Enter letter a:<br />
        Enter letter t:<br /><br />
        <strong>Expected output:</strong><br />
        tab <br /><br />

        <input class="form-control" type="text" placeholder="Type something..." @bind="Word" /> <br />
        <button class="btn btn-primary" @onclick="ReverseString">Reverse</button> <br />
        <span>@Word</span>
    </div>
  </div>
</div>


@code {
    public string Word { get; set; } = "";
    private void ReverseString() 
    {
        char[] input = Word.ToCharArray();
        string reverseInput = new string(input.Reverse().ToArray());
        Word = reverseInput;
    }
}
